<div class="page-content container" ng-controller="dashboardCtrl" ng-init="init()">
    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-box">
                <div class="panel-heading dashboard-box-header">
                    <div class="panel-title" style="color: white" ><h3>Users</h3></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 dashboard-box dashboard-box-all"><h1>123</h1><h4>Total</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-active"><h1>123</h1><h4>Active</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-blocked"><h1>123</h1><h4>Blocked</h4></div>
                    </div>
                    <button class="btn btn-lg btn-block btn-info"> More Details <i class="glyphicon glyphicon-arrow-right" ></i> </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box">
                <div class="panel-heading dashboard-box-header">
                    <div class="panel-title" style="color: white" ><h3>Contractors</h3></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 dashboard-box dashboard-box-all"><h1>123</h1><h4>Total</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-active"><h1>123</h1><h4>Active</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-blocked"><h1>123</h1><h4>Blocked</h4></div>
                    </div>
                    <button class="btn btn-lg btn-block btn-info"> More Details <i class="glyphicon glyphicon-arrow-right" ></i> </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box">
                <div class="panel-heading dashboard-box-header">
                    <div class="panel-title" style="color: white" ><h3>Package Contractors</h3></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 dashboard-box dashboard-box-all"><h1>123</h1><h4>Total</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-active"><h1>123</h1><h4>Active</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-blocked"><h1>123</h1><h4>Blocked</h4></div>
                    </div>
                    <button class="btn btn-lg btn-block btn-info"> More Details <i class="glyphicon glyphicon-arrow-right" ></i> </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box">
                <div class="panel-heading dashboard-box-header">
                    <div class="panel-title" style="color: white" ><h3>Employees</h3></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 dashboard-box dashboard-box-all"><h1>123</h1><h4>Total</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-active"><h1>123</h1><h4>Active</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-blocked"><h1>123</h1><h4>Blocked</h4></div>
                    </div>
                    <button class="btn btn-lg btn-block btn-info"> More Details <i class="glyphicon glyphicon-arrow-right" ></i> </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box">
                <div class="panel-heading dashboard-box-header">
                    <div class="panel-title" style="color: white" ><h3>Sites</h3></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 dashboard-box dashboard-box-all"><h1>123</h1><h4>Total</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-active"><h1>123</h1><h4>Active</h4></div>
                        <div class="col-md-4 dashboard-box dashboard-box-blocked"><h1>123</h1><h4>Blocked</h4></div>
                    </div>
                    <button class="btn btn-lg btn-block btn-info"> More Details <i class="glyphicon glyphicon-arrow-right" ></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>